<div class="social-icons">
  {% if site.data.socials.github_username %}
    <a href="https://github.com/{{ site.data.socials.github_username }}" target="_blank" title="GitHub">
      <i class="fab fa-github fa-2x"></i>
    </a>
  {% endif %}
  {% if site.data.socials.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.data.socials.linkedin_username }}" target="_blank" title="LinkedIn">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  {% endif %}
  {% if site.data.socials.x_url %}
    <a href="{{ site.data.socials.x_url }}" target="_blank" title="X">
      <i class="fab fa-x-twitter fa-2x"></i>
    </a>
  {% endif %}
</div>
